.hero {
    padding-top: 180px;
    padding-bottom: 127px;
    position: relative;

    background-color: #01383a;

    background-image: url(/img/img_hero/background_hero@1x.jpg);
    //     url(/src/images/hero/vector.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and(min-width: 768px) {
        padding-top: 154px;
        padding-bottom: 208px;
        background-position: center;
    }

    @media screen and(min-width: 1240px) {
        padding-top: 181px;
        padding-bottom: 212px;
        background-position: center;
    }
    
}















// .hero {
//     position: relative;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1240px;
//     background-image: url(/img/img_hero/background_hero@1x.jpg);
    
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     padding-top: 284px;
//     padding-bottom: 127px;

//     @media screen and (min-width: 320px) {
//     min-width: 320px;
//     padding-top: 284px;
//     padding-bottom: 127px;
//     background-image: url(/img/img_hero/background_hero@1x.jpg);
//     }


//     @media screen and (min-width: 768px) {
//     min-width: 768px;
//     padding-top: 290px;
//     padding-bottom: 208px;
//     background-image: url(/img/img_hero/background_hero@1x.jpg);
//     }
    
//     @media screen and (min-width: 1240px) {
//     min-width: 1240px;
//     background-image: url(/img/img_hero/background_hero@1x.jpg);
    
//     }




// }


// .hero__img{

// }



.hero__img {}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240;
    padding-left: 15px;
    padding-right: 15px;

    
    
    
    
}

.hero__img--mouse{
    position: relative;

    background-image: url(/img/img_hero/mouse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100px;
    height: 165px;

    background-position: top 160px left 16px;
    
    @media screen and (min-width: 320px) {
        width: 100px;
        height: 165px;
        transform: rotate(-29deg);
        // background-position: top 160px left 16px;

    }
    
    
    @media screen and (min-width: 768px) {
            
    }
    
    @media screen and (min-width: 1240px) {
            
    
    }


}





.hero__img--headphone {
    // position: relative;
    width: 180px;
    height: 223px;
    position: left 200px;


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero__img--keybord {
    position: absolute;
    width: 143px;
    height: 69px;

}



.hero__title{
    // text-align: center;
    max-width: 274px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.18;
    letter-spacing: 0em;
    
    @media screen and (min-width: 320px) {
        
    }
    
    @media screen and (min-width: 768px) {
        max-width: 388px;
        font-size: 56px;
        font-weight: 600;
        line-height: 1,17;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 25px;
        margin-right: auto;

    }
    
    @media screen and (min-width: 1240px) {
        max-width: 515px;
        font-size: 64px;
        font-weight: 600;
        line-height: 1,17;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 127px;
        margin-right: auto;
    
    }
    
}

.hero__link{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 16px 20px;

    max-width: 180px;
    text-transform: uppercase;
    border-radius: 16px;
    background-color: #86E543;
    color: #01383A;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0em;

    transition: box-shadow 250ms;
    
    @media screen and (min-width: 320px) {
        margin-left: 127px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;

        max-width: 180px;
        text-transform: uppercase;
        border-radius: 16px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0em;

    }
    
    @media screen and (min-width: 768px) {
        margin-left: 25px;
        margin-right: auto;
        margin-top: 93px;
        
        max-width: 308px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0em;
    
    }
    
    @media screen and (min-width: 1240px) {
        margin-left: 127px;
        margin-right: auto;
        margin-top: 37px;

        max-width: 310px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.18;
        letter-spacing: 0em;    

    }

    &:hover,
    &:focus {
        box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.1);
        box-shadow: 0px 8px 20px 0px rgba(134, 229, 67, 0.5);
        
    }



}














// .hero {
//     margin-left: auto;
//     margin-right: auto;
//     outline: 1px solid black;
//     max-width: 1600px;
//     height: 600px;
//     background-color: var(--header-footer-color);
//     background-image:linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)), 
//             url("../img/img_index/Comand_foto.jpg");

//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
    
//     padding: 200px 0px;

// }
